# Build output
build/

# macOS
.DS_Store
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj

# Logs
*.log

.idea
.claude
